{% extends '::layout.html.twig' %}

{% block title %}Registration list{% endblock %}

{% block body %}
    <h1>All submitted conferences</h1>
    <p>This is a list of all the conferences you have submitted to.</p>


    <table class="list">
        <tr>
            <th>Registration</th>
            <th>Status</th>
            <th>Bio</th>
            <th>Talks submitted</th>
            <th>Action</th>
        </tr>
        {% for entity in entities %}
            <tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
                <td>{{ entity.conference.name }}</td>
                <td><font color=green>Accepted :)</font></td>
                <td>{{ entity.biography.description }}</td>
                <td align=center>{{ entity.submissions|length }}</td>
                <td>
                    [ <a href="{{ path('CfpCfpBundle_edit_registration', { 'id': entity.id }) }}">edit</a> ] -
                    [ <a href="{{ path('CfpCfpBundle_show_my_submissions', { 'registration_id' : entity.id } ) }}">show submissions</a> ] -
                    [ <a href="{{ path('CfpCfpBundle_new_submission', { 'registration_id' : entity.id } ) }}">New submission</a> ]
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}