{% extends '::layout.html.twig' %}

{% block title %}{{ entity.conference.name }}{% endblock %}

{% block body %}
    <article class="registration">
            <header>
                <h2>{{ entity.conference.name }}</h2>
            </header>
        <div>
            <h3 >Remark:</h3>
            <p>{{ entity.remarks }}</p>
        </div>

        <div>
            <h3 >Bio:</h3>
            <p>{{ entity.biography.description }}</p>
            <p>{{ entity.biography.biography }}</p>
        </div>

        {% if entity.submissions|length > 0 %}
        <div>
            <table class="registration">
                <tr>
                    <th>Talk</th>
                    <th>Type</th>
                    <th>Action</th>
                </tr>
                {% for submission in entity.submissions %}
                    <tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
                        <td>{{ submission.talk.title }}</td>
                        <td>{{ submission.talk.type }}</td>
                        <td>
                            {#[ <a href="{{ path('CfpCfpBundle_show_my_submissions', { 'registration_id': entity.id }) }}">show talks</a> ]#}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}

        <div>
          [ <a href="{{ path('CfpCfpBundle_edit_registration', { 'id': entity.id }) }}">Edit registration</a> ]
          [ <a href="{{ path('CfpCfpBundle_show_my_registrations') }}">Back to the list</a> ]
            <form action="{{ path('CfpCfpBundle_delete_registration', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Delete</button>
            </form>

        </div>
    </article>
{% endblock %}

