<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link href="{{ asset('/css/main.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <section id="wrapper">
        <header id="header">
            <div class="top">
        {% block navigation %}
            <nav>
                <ul class="navigation">
                    <li><a href="{{ path('CfpPageBundle_homepage') }}">Home</a></li>
                    <li><a href="{{ path('CfpConferenceBundle_show_all') }}">Conferences</a></li>
                    <li><a href="{{ path('CfpConferenceBundle_show_cfp')}}">Open CFP</a></li>
                    <li><a href="{{ path('CfpConferenceBundle_show_next')}}">Pending CFP</a></li>

{% if app.user is not empty and is_granted('IS_AUTHENTICATED_FULLY') %}
                    <img src="{{ gravatar(app.user.email, 25) }}">
                    <li><a href="#">My bio</a></li>
                    <li><a href="#">My CFPs</a></li>
                    <li><a href="{{ path('CfpUserBundle_show_talks') }}">My talks</a></li>
                    <li><a href="{{ path('fos_user_profile_show') }}">My profile</a></li>

                    <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
{% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                    <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
{% endif %}
                    <li><a href="{{ path('CfpPageBundle_about') }}">About</a></li>
                    <li><a href="{{ path('CfpPageBundle_contact') }}">Contact</a></li>
                </ul>
            </nav>
        {% endblock %}
            </div>
        </header>
    </section>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
