<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div class="top">
        {% block navigation %}
            <nav>
                <ul class="navigation">
                    <li><a href="{{ path('CfpPageBundle_homepage') }}">Home</a></li>
                    <li><a href="{{ path('CfpConferenceBundle_show_all') }}">Conferences</a></li>
                    <li><a href="#">Open CFP</a></li>

{% if app.user is not empty and is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li><a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }} Profile</a> <img src="{{ gravatar(app.user.email, 25) }}"></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
{% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                    <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
{% endif %}
                    <li><a href="{{ path('CfpPageBundle_about') }}">About</a></li>
                    <li><a href="{{ path('CfpPageBundle_contact') }}">Contact</a></li>
                </ul>
            </nav>
        {% endblock %}
    </div>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
