{% extends '::layout.html.twig' %}

{% block title %}Submission list{% endblock %}

{% block body %}
<h1>All submitted talks for {{ cfp.conference.name }} </h1>

<table class="list">
    <thead>
        <tr>
            <th>Title</th>
            <th>Submitted</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
            <td><a href="{{ path('CfpCfpBundle_show_submission', { 'registration_id': registration.id, 'id': entity.id }) }}">{{ entity.talk.title }}</a></td>
            <td>{% if entity.dtcreated %}{{ entity.dtcreated|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>
                        [ <a href="{{ path('CfpCfpBundle_edit_submission', { 'registration': registration.id, 'id': entity.id }) }}">edit</a> ]
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br/>

<ul>
    <li>
        <a href="{{ path('CfpCfpBundle_new_submission', {'registration_id': registration.id}) }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}
