{% extends '::layout.html.twig' %}

{% block title %}CfpTalk list{% endblock %}

{% block body %}
<table class="records_list">
    <thead>
        <tr>
            <th>Title</th>
            <th>Submitted</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('CfpCfpBundle_show_cfp_talk', { 'cfp_id': 1, 'id': entity.id }) }}">{{ entity.talk.title }}</a></td>
            <td>{% if entity.dtcreated %}{{ entity.dtcreated|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>
                        [ <a href="{{ path('CfpCfpBundle_edit_cfp_talk', { 'cfp_id': 1, 'id': entity.id }) }}">edit</a> ]
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('CfpCfpBundle_new_cfp_talk', {'cfp_id': 1}) }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}
