{% extends '::layout.html.twig' %}

{% block title %}Edit Conference{% endblock %}

{% block body %}
<h1>Edit Conference</h1>

<form action="{{ path('CfpConferenceBundle_update_conference', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('CfpUserBundle_show_my_conferences') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('CfpUserBundle_delete_conference', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}