{% extends '::layout.html.twig' %}

{% block title %}Show conferences!{% endblock %}

{% block body %}

    {% include partial %}

    <table class="list">
        <tr>
            <th>Name</th>
            <th>Date start</th>
            <th>Cfp start</th>
            <th>Cfp end</th>
            <th>Cfp status</th>
            <th>Action</th>
        </tr>
        {% for conference in conferences %}
        <tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
            <td><a href="{{ path('CfpConferenceBundle_show_conference', { 'tag': conference.tag }) }}">{{ conference.name }}</a></td>
            <td>{{ conference.dtstart|date('F j, Y') }}</td>
            <td>{{ conference.cfpstart|date('F j, Y') }}</td>
            <td>{{ conference.cfpend|date('F j, Y') }}</td>
            <td>{{ cfp_status(conference, true) }}</td>
            <td>
                {% if cfp_is_open(conference) %}
                [ <a href="{{ path('CfpCfpBundle_new_cfp', {'conferencetag': conference.tag}) }}">Add CFP</a> ]
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>


{% endblock %}