{% extends '::layout.html.twig' %}

{% block title %}{{ entity.title }}{% endblock %}

{% block body %}
    <article class="cfp">
            <header>
                <h2>{{ entity.conference.title }}</h2>
            </header>
        <div>
            <h3 >Remark:</h3>
            <p>{{ entity.remark }}</p>
        </div>

        <div>
            <h3 >Conference:</h3>
            <p>{{ entity.conference.title }}</p>
        </div>

        <div>
          [ <a href="{{ path('CfpCfpBundle_edit_cfp', { 'id': entity.id }) }}">Edit cfp</a> ]
          [ <a href="{{ path('CfpCfpBundle_show_my_cfps') }}">Back to the list</a> ]
            <form action="{{ path('CfpCfpBundle_delete_cfp', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Delete</button>
            </form>

        </div>
    </article>
{% endblock %}

