{% extends '::layout.html.twig' %}

{% block title %}Talk list{% endblock %}

{% block body %}
    <h1>All my talks</h1>

    <p>These are all talks that you have entered.</p>

    <table class="list">
        <tr>
            <th>Title</th>
            <th>Type</th>
            <th>Stats (sub/acc/rej)</th>
            <th>Actions</th>
        </tr>
        {% for entity in entities %}
            <tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
                <td><a href="{{ path('CfpUserBundle_show_talk', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                <td>{{ entity.type }}</td>
                <td>{{ entity.getSubmitCount }} / {{ entity.getAcceptedCount }} / {{ entity.getRejectedCount }}</td>
                <td>
                    [ <a href="{{ path('CfpUserBundle_edit_talk', { 'id': entity.id }) }}">edit</a> ]
                </td>
            </tr>
        {% endfor %}
    </table>

    <br/>
    <div>
      [ <a href="{{ path('CfpUserBundle_new_talk') }}">Create a new talk</a> ]
    </div>

{% endblock %}