    <article class="talk">
            <header>
                <h2>{{ entity.title }}</h2>
            </header>
        <div>
            <h3 >Abstract:</h3>
            <p>{{ entity.abstract }}</p>
        </div>

        <div>
            <h3 >Type:</h3>
            <p>{{ entity.type }}</p>
        </div>


        <div>
            <h3 >Links:</h3>
            <ul>
                <li><a href="{{ entity.joindinurl }}">{{ entity.joindinurl }}</a>
                <li><a href="{{ entity.slidesurl }}">{{ entity.slidesurl }}</a>
            <ul>
        </div>


    </article>

