{% extends '::layout.html.twig' %}

{% block title %}{{ entity.title }}{% endblock %}

{% block body %}
    {% include 'CfpUserBundle:Talk:partial_talk.html.twig' with {'entity': entity} %}

    <div>
      [ <a href="{{ path('CfpUserBundle_edit_talk', { 'id': entity.id }) }}">Edit talk</a> ]
      [ <a href="{{ path('CfpUserBundle_show_my_talks') }}">Back to the list</a> ]
        <form action="{{ path('CfpUserBundle_delete_talk', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </div>
{% endblock %}

