{% extends '::layout.html.twig' %}

{% block title %}{{ conference.name }}{% endblock %}

{% block body %}
    <article class="conference">
            <header>
                <h2>{{ conference.name }}</h2>
                <div class="date">{{ conference.dtstart|date('l, F j, Y') }} to {{ conference.dtend|date('l, F j, Y') }}</div>
            </header>
        <div>
            <h3 >Description:</h3>
            <p>{{ conference.description }}</p>
        </div>

        <div>
            <h3 >Location:</h3>
            <p>{{ google_map_container(map) }}</p>
            {{ google_map_js(map) }}
        </div>
        
        <div>
        [ <a href="{{ path('CfpConferenceBundle_show_all') }}">Back to the list</a> ]
        </div>
    </article>
{% endblock %}
