{% extends '::layout.html.twig' %}

{% block title %}Show ALL the biographies!{% endblock %}

{% block body %}
    <h1>All my biographies</h1>

    <p>Here you can find all your biographies that you have entered.</p>

    <table class="list">
        <tr>
            <th>Description</th>
            <th>Added</th>
            <th>Action</th>
        </tr>
        {% for biography in biographies %}
        <tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
            <td><a href="{{ path('CfpUserBundle_show_biography', { 'id': biography.id }) }}">{{ biography.description }}</a></td>
            <td>{{ biography.dtadded|date('F j, Y') }}</td>
            <td>[ <a href="{{ path('CfpUserBundle_edit_biography', { 'id': biography.id }) }}">Edit</a> ] -
                [ <a href="{{ path('CfpUserBundle_delete_biography', { 'id': biography.id }) }}">Delete</a> ]</td>
        </tr>
        {% endfor %}
    </table>
    <br/>

    <div>
      [ <a href="{{ path('CfpUserBundle_add_biography') }}">Add new biography</a> ]
    </div>

{% endblock %}