{% extends '::layout.html.twig' %}

{% block title %}{{ biography.description }}{% endblock %}

{% block body %}
    <article class="biography">
            <header>
                <h2>{{ biography.description }}</h2>
            </header>
        <div>
            <h3 >Biography:</h3>
            <p>{{ biography.biography }}</p>
        </div>

        <div>
            <h3 >Links:</h3>
            <ul>
                <li><a href="{{ biography.joindinurl }}">{{ biography.joindinurl }}</a>
                <li><a href="{{ biography.slideshareurl }}">{{ biography.slideshareurl }}</a>
                <li><a href="{{ biography.blogurl }}">{{ biography.blogurl }}</a>
                <li><a href="{{ biography.homepageurl }}">{{ biography.homepageurl }}</a>
            <ul>
        </div>
        
        <div>
          [ <a href="{{ path('CfpUserBundle_edit_biography', { 'id': biography.id }) }}">Edit biography</a> ]
          [ <a href="{{ path('CfpUserBundle_show_my_biographies') }}">Back to the list</a> ]
        </div>
    </article>
{% endblock %}
